.heroContainer {
  width: 60vw;
  align-items: flex-start;
  gap: 32px;
}

.detailsContainer {
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}

.nameContainer {
  align-items: flex-start;
  gap: 14px;
}

.name {
  font-weight: bold;
  font-size: 4.5rem;
}

.role {
  font-weight: bold;
  color: var(--semantics-green);
  font-family: "Lexend Zetta", sans-serif;
}

.mainSkills {
  flex-direction: row;
  gap: 12px;
}

img {
  width: 18vw;
}

.aboutContainer {
  width: 40vw;
  font-size: small;
  font-weight: 400;
  color: var(--neutral-04);
}

.linksContainer {
  gap: 4px;
  align-items: flex-start;
  display: grid;
  column-gap: 24px;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 750px) {
  .linksContainer {
    grid-template-columns: 1fr;
  }
}

.linkContainer {
  flex-direction: row;
  gap: 12px;
  font-weight: lighter;
  color: var(--neutral-06);
}
