:root {
  box-sizing: border-box;
  --brand-yellow: #ffdb15;
  --brand-black: #020301;
  --brand-khakhi: #b5a197;
  --brand-white: #f3f5f9;
  --semantics-yellow: #ffb30f;
  --semantics-red: #fd151b;
  --semantics-green: #69dc9e;
  --neutral-01: #000000;
  --neutral-02: #1a1a1a;
  --neutral-03: #333333;
  --neutral-04: #cccccc;
  --neutral-05: #e6e6e6;
  --neutral-06: #ffffff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: gird;
}

.appContainer {
  background-color: var(--neutral-03);
  position: relative;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.heroSlideContainer,
.projectSlideContainer,
.contactSlideContainer {
  color: var(--neutral-06);
  height: 100vh;
  scroll-snap-align: start;
}

.projectCaption,
.contactCaption {
  font-size: 3rem;
  font-weight: bold;
  color: var(--semantics-yellow);
  margin-block-end: 8vh;
}

.projectCarousel {
  width: 300px;
  border-radius: 8px;
}
